.home-top-title{
    color: white;
    margin: 0 0 12px 30px;
}

.home-mid-title{
    color: white;
    margin: 40px 0 0 30px;
}

.home-all-paints{
    margin-left: 10px;
}

.home-all-paints-title{
    color: white;
    margin: 40px 10px 12px;
}